{% extends "main/vBase.html" %}
{%block body%}
	<h2 class="ui header">
	  <i class="mail icon"></i>
	  <div class="content">
	    Contact
	    <div class="sub header">Contact us</div>
	  </div>
	</h2>	
	<form class="ui form segment" method="post" action="/sendMessage">
		<div class="equal width fields">
			<div class="field">
				<label>Firstname</label> <input type="text" name="firstname" required>
			</div>
			<div class="field">
				<label>Lastname</label> <input type="text" name="lastname" required>
			</div>
		</div>
		<div class="field">
			<label>Your message</label>
			<textarea placeholder="Please write us your message..." rows="5" name="content" required></textarea>
		</div>
		<div class="field">
			<label>Email</label>
			<input type="email" name="email" required>
		</div>
		<hr>
		<button class="ui positive icon button bt200"><i class="ui mail icon"></i> Submit message</button>
		<a href="{{path('Home')}}" class="ui icon button bt200"><i class="ui close icon"></i> Cancel & back to Home</a>
	</form>
{%endblock%}