<div class="ui icon message olive cookies">
  <i class="circle info icon"></i>
  <div class="content">
    <div class="header">
      Cookie management
    </div>
    <p>We use cookies to ensure you get the best experience on our website.</p>
    <hr>
    <div class="ui fluid buttons">
    	<a href="cookies/1/{{redirect}}" class="ui positive button"><i class="ui check circle icon"></i> Accept Cookies</a>
    	<a href="cookies/0/{{redirect}}" class="ui negative button"><i class="ui ban icon"></i> Reject Cookies</a>
  	</div>
  </div>
</div>